<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>07:45</string>
	<string>08:00</string>
	<string>08:15</string>
	<string>08:30</string>
	<string>08:45</string>
	<string>09:00</string>
	<string>10:15</string>
	<string>11:30</string>
	<string>11:45</string>
	<string>12:30</string>
	<string>13:00</string>
	<string>13:15</string>
	<string>13:45</string>
</array>
</plist>
