<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>12:15</string>
	<string>12:45</string>
	<string>13:30</string>
	<string>15:00</string>
	<string>15:15</string>
	<string>15:30</string>
	<string>16:30</string>
	<string>16:45</string>
	<string>17:00</string>
	<string>17:15</string>
	<string>17:30</string>
	<string>17:45</string>
	<string>18:10</string>
	<string>18:30</string>
</array>
</plist>
